
* {
  margin:0px;
  padding:0px;
}

body {
  background-color: black;
}

.app {
  background-color: black;
  height: fit-content;
  place-items: center;
}

.app__header {
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.app__body {

  background-color: black;
  margin: 0px auto;
  top: 0px;
  margin-top: 95px;
  display: grid;
  margin-bottom: 95px;
  place-items: center;
  z-index: -1;
}

.app__container {
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
}

.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
} 