
* {
  margin:0px;
  padding:0px;
}

.app {
  background-color: black;
  height: fit-content;
  place-items: center;
  height: 100%;
}
body {
  background-color: black;
}
.app__header {
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.app__body {

  background-color: black;
  margin:125px 0px 0px 0px;
  height: fit-content;
  place-items: center;
  z-index: -1;
  color: white;
  padding: 0px 30px;
}

.app__container {
  display: flex;
  padding-top: 135px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
}

.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
} 

.progress{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  

}