._1-LuWSzn-erBDKvIM2uiMO {
    padding-top: 18px;
}
.grid-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.details {
    display: contents;
    display: block;
    padding-right: 25px;
    justify-items: baseline;

    margin-bottom: 12px;
    font-size: medium;
}
h3{
    font-weight: bold;
    font-size: medium;
}
