._1-LuWSzn-erBDKvIM2uiMO {
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.grid-4 {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #42494D;
    grid-gap: 4em;
    grid-template-columns: repeat(auto-fill, minmax(100px, 140px));
    max-width: 1200px;
}
.details {
    display: contents;
    display: block;
    padding-right: 45px;
    padding:20px 20px 20px 10px;
    justify-items: baseline;

    margin-bottom: 0px;
    font-size: medium;
}
h3{
    font-weight: bold;
    font-size: medium;
    padding-bottom: 10px;
}
.view-details{
    text-align: center;
}