.header__wrapper {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    
  }
  
  .header__logo {
    margin-left: 3px;
  }
  
  
  .header__search {
    display: block;
    align-items: center;
    height: 10px;
    width: 30%;
  }
  

  
  .header__searchContainer > input {
    border: 1px solid white;
    width: 100%;
    height: auto;
    margin-right: 10px;
    background-color: black;
    color: white;
    font-size: medium;
  }
  
  .header__menuItems {
    margin-right: 48px;
  }
  
  .header__menuItems a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0 20px;
  }
  
  .header__menuItems a:hover,
  .header__menuItems a:active {
    color: orangered;
  }
  
  a:first-of-type {
    color: #5AC53B;
  }

  /* input[type="search"] {
    background-color : black; 
    color:white;
    
} */