.box{
    display: block;
    padding:25px 25px;
}

.box-heading{
    font-size: medium;
    font-weight: bolder;
}

.box-title2{
    padding-top:10px;
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
    font-weight: bold;
}

.box-table{
    padding-top: 20px;
}