.newsfeed {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: black;
  }
 
  .newsfeed__container {
    flex: 1;
    background-color: black;
    font-size: 12px;
    padding: none;
    
  }
a
  .newsfeed__chart {
    top:100px;
  }
  .js-plotly-plot{
    width:100%;
    height:100%;
    
  }
  .price__div{
    padding-top: 5px;
  }
  .price{
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: -.33px;
    
  }
  .price__change{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .price__datas {
    margin: 0px;
    
    font-size: 18px;
    font-style: normal;
    text-decoration: unset;
    line-height: 25px;
    font-weight: 600;
  }
  .price__date{
    margin: 0px;
    color: #5E818B;
    padding-left: 7px;
    font-size: 15px;
    font-style: normal;
    text-decoration: unset;
    line-height: 25px;
    font-weight: bold;
    
  }

  .newsfeed__buying__section {
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3b4754;
    margin-bottom: 30px;
    font-size: medium;
    font-weight: bold;
  }
  
  .newsfeed__market__section {
    margin: 2px 0;
    padding: 0;
    height: auto;
    margin-bottom: 30px;
  }
 
  .newsfeed__market__box {
    height: 15vh;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #31363A;
    align-items: center;
  }
  
  .newsfeed__market__box p {
    color: #7B858A;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 8px;
    
    
  }
  
  .newsfeed__popularlists__section {
    height: fit-content;
    padding-top: 20px;
  }
  
  .newsfeed__popularlists__intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
  }
  
  .newsfeed__popularlists__intro > p {
    font-weight: bold;
    color: #FF5000;
    font-size: 13px;
  }
  
  .newsfeed_popularlists_badges {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: auto;
    max-width: 100%;
  }

  .category__list{
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 8px;
  }
  
  .newsfeed_popularlists_badges .topic__badge {
    border: 0.2px solid #31363A;
    background-color: transparent;
    color: rgb(179, 169, 169);
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 20px;
    height: 40px;
    padding-right: 16px;
  }
  
  .newsfeed__articles__section {
    background-color: rgb(30,34,37);
  }
  
  .newsfeed__articles__header {
    cursor: pointer;
    
  }
  .single{
    opacity: 1;

  }
  .single:hover{
    transition-property: box-shadow; 
    background:rgb(30,34,37);

  }
  .newsfeed__articles {
    flex-direction: column;
  }
  .newsfeed__article__title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 12px;
    
  }
  .css-70qvj9 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: small;
    font-weight: bold;
}
.header__article{
  justify-content: space-between;
  display: flex;
  padding: 10px;
  
}
.time__updated{
  font-size: small;
  font-weight: normal;
}
.css-sj6ac5 {
  margin-right: 8px;
  display: inline-flex;
}
._1fshCErpE1-0MuTzZ8-Lxk {
  margin-right: 8px;
}
._1Ns7_kLRdxYKf9zyOESUdp {
  position: relative;
}
._1YD8Jvi6dW0I_OeBIY0vLp {
  cursor: pointer;
  float: right;
  
}
  .newsfeed__article__source {
    font-weight: lighter;
    flex: 1;
    font-size: medium;
    
  }
  .newsfeed__article__headline{
    font-weight: bolder;
    font-size: larger;
    padding-left:20px;
    flex: 1;
    
    font-size: medium;
    cursor: pointer;
  }
  .newsfeed__article__content {
    display: flex;
    align-items: top;
    
    justify-content: space-between;
    
    padding:10px;
    border-bottom: 1px solid #3b4754;
    font-size: medium;
    cursor: pointer;
  }
  
  .newsfeed__article__paragraph{
    color: #79858B;
    padding-left: 30px;
    font-weight: normal;
  }
  .newsfeed__topmovers__section {
    padding: 20px 0px 10px 0px;
    background-color: black;
    height: fit-content;
  }
  .newsfeed__topmovers__intro__details {
    display: flex;
    justify-content: space-between;
    color: darkgrey;
  }
  
  .newsfeed__topmovers__intro__details p:nth-child(2) {
    font-weight: bold;
    color: orange;
  }
  
  .newsfeed__topmovers__cards__container {
    background-color: black;
    justify-content: space-evenly;
    padding: 20px 20px 20px 0px;
    display: flex;
  }
  
  .newsfeed__topmovers__card {
    background-color: black;
    color: white;
    padding: 20px 20px 20px 20px;
    margin-left: 12px;
    width: 90px;
    height: 120px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: grid;
    flex-direction: column;
    justify-content: space-between;
  }
  

 
  .newsfeed__topmovers__card__numbers {
    color: white;
    font-size: 23px;
    font-family: "Capsule Sans Text";
    font-weight: normal;
    letter-spacing: -0.1;
    line-height: 20px;
  }
  .list__title{
    font-size: 25px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: .33px;
    color:white;
    
  }

  ._2S3cggR8KQOcagvLyiigSU{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    gap: 12px;
    min-height: 184px;
    
  }

  .mBvH5QZimLHt5kMAd1wSR {

    display: flex;
    flex-direction: column;
    height: 140px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    padding: 22px 23px;
    border: 1px solid #3b4754;
    border-radius: 15px;
    
  
  }
.mBvH5QZimLHt5kMAd1wSR:hover{
  transition-property: box-shadow; 
    background:rgb(30,34,37);
}
._23MecuirDnAcyJaqlkbEB2 {
  max-height: 6ex;
  flex-wrap: wrap;

}
.css-1itv5e3{
  margin-bottom: 4px;
  font-size: 24px;
  font-style: normal;
  letter-spacing: -0.33px;
  line-height: 32px;
  text-size-adjust: 100%;
  font-family: "Capsule Sans Text";
  color: #66ff00;
  text-decoration-line: none;
}

.css-14x19dj{
  font-family: "Capsule Sans Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
  margin: 0px;
  text-decoration-color: rgb(0, 200, 5);
}

