.multicolor {
    color:black;
}
.auto-complete{
    position: relative;
    margin-top: 10px;
    background-color:rgb(226, 215, 215);
    color: black;
    min-width: min-content;
    flex-wrap: wrap;
    
}
