.multicolor {
    color:white;
}
.auto-complete{
    position: absolute;
    display: block;
    margin-top: 10px;
    background-color:rgb(238, 238, 238);
    color: black;
    align-items: center;
    flex-wrap: wrap;
    z-index: 10;
    justify-items: center;
    
}
