
  .stats__container {
    flex-direction: column;
    flex: 0 0 66.66667%;
    background-color: white;
    height: 75vh;
    margin-left: 40px;
    -ms-overflow-style: none;
    overflow-y: auto;
    position: fixed;
    scrollbar-width: 100;
    top: 125px;
    padding: 2px;
    width: 303.77778px;
    margin-bottom: -64px;
  }

  .stats__container::-webkit-scrollbar {
    display: none;
}
  
  .stats__content {
    font-size: 13px;
    font-weight: bold;
  }
  
  .stats__header {
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #42494D;
    padding: 20px 20px 10px 20px;
    font-weight: bold;
  }
  
  .stats-lists {
    height: 52px;
    border-top: 1px solid #42494D;
    padding: 4px 20px 0px 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 24px;
    align-items: center;
    cursor: pointer;
  }
  
  .row:hover {
    background-color:black;
  }
  
  .row__numbers {
    text-align: end;
    font-weight: 500;
  }

  .row__chart {
    height: min-content;
    width: min-content;
  }
  
  .row__price {
    padding-bottom: 4px;
  }
  
  .row__percentage {
    color: #5AC53B;
  }