
.stat__container {
    flex-direction: column;
    flex: 0 0 66.66667%;
    background-color: #1E2225;
    border-radius: 5px;
    border: 1px solid #42494D;
    height: auto;
    margin-left: 40px;
    -ms-overflow-style: none;
    overflow-y: auto;
    position: fixed;
    scrollbar-width: 100;
    top: 125px;
    padding: 2px;
    width: auto;
  }


.trade-details{
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 48px;
    padding: 0 15px
}
.trade-label{
    margin-right: 12px;
    min-width: 48px;
    font-size: 110%;
    display: inline-flex;
}
.trade-label1{
    margin-right: 12px;
    min-width: 48px;
    font-size: 110%;
    color:#02C805;
    display: inline-flex;
}
.help__icon{
    margin-left: 4px;
    display: inline-flex;

}

._2X_C2V1jKOFk-3x2QNyNW1{
    text-align: right;
    width: 136px;
    padding: 10px;
}
._2X_C2V1jKOFk-3x2QNyNW12{
    text-align: right;
    width: 82px;
    padding: 10px;
    
    
}  
.css-x189p4{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}
.-aVQMh2t1ihTiMYRyjQA2{
    -webkit-box-align: center;
    align-items: center;
    background-color: 1px solid #F55004;
    color:white;
    border:white;
    cursor: pointer;
    height: 36px;
    padding:1px 1px, 0 12px;
    position: relative;
    width: 100%;
}
._2ZZrJfyutWozgUjKja3vp9{
    font-size: small;
    flex: 0 1 auto;
    /* overflow: hidden; */
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    text-align: right;
}
._3n_jK_e253MhrymMnCvcxy{
    display: flex;
    padding-right: 4px;
}
.css-6q9pz{
    display: inline-flex;
    
}
.trade-details2{
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 48px;
    padding: 0 15px 15px;
    border-bottom: 1px solid #42494D;
}
.MuiInputBase-input {
    margin: 5px;
}
.MuiInputBase-input:hover {
    border-color: aqua;
}
input[type="text"] {
    background-color : #30373A; 
    color:white;
    padding:10px;
    text-align: right;
}

._1oJVwyMO-j1ETeFAdtVHEW{
    padding-top: 12px;
}
._3kmUcs_2E5JhpQECnnYLG{
    padding: 8px 50px 20px;
    display: flex;
    justify-content: space-between;
    min-height: 48px;
}
.XzyC-hUeuhJpKibZShdJi{
    background-color: rgb(30, 33,36)
}


.css-1bz5kc3{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.ss-j0s357{
    transition: opacity 300ms ease 0s;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-1jzf67n{
    margin: 0px;    
    font-style: normal;
    text-decoration: unset;
}